* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
}

header {
  background-color: rgb(166, 166, 166);
  height: 60px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  width: 160px;
  min-height: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  background-color: transparent;
  font-size: 16px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav ul li a {
  padding: 6px;
  color: #000;
}

nav ul li button {
  width: fit-content;
  padding: 6px;
  color: #000;
}

#page-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
    Reusable classes
*/
.wrapper {
  max-width: 1280px;
  margin: 40px auto;
}

.absolute { 
  position: absolute;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #007b09;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
