.recipes-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px 16px;
}

.recipe-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding: 12px;
  height: 240px;
  border-radius: 12px;
  color: white;
}

.recipe-item div {
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: absolute;
  left:0;
  bottom:0;
  background-color: black;
  width: calc(100% - 24px);
  border-radius: 0 0 12px 12px;
}

.recipe-item-image {
  position: absolute;
  background-size: contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 80%;
  z-index: -1;
  border-radius: 12px;
}

.fa-heart {
  position: absolute;
  top: 24px;
  right: 16px;
  z-index: 2;
}

.recipe {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  color: black;
}

.recipe div {
  background-color: rgb(243, 243, 243);
  border-radius: 0 0 12px 12px;
  padding: 16px;
}

.recipe img {
  max-height: 400px;
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0 0;
}

.recipe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 !important;
}

.recipe-header h3 {
  text-decoration: underline;
}

#share-button { 
  background-color: rgb(132, 132, 131);
  color: 'black';
}

#share-button:hover { 
  background-color: rgb(190, 190, 188);
  color: 'black';
}

@media screen and (max-width: 420px) {
  .recipes-container {
    grid-template-columns: auto;
    padding: 0 12px
  }

  h1 {
    padding-left: 12px;
  }
}